<script setup>

</script>

<template>
<div class="container my-5">
  <div class="card" style="width: 18rem;">
  <img src="https://paradoxmarketing.io/wp-content/webp-express/webp-images/uploads/2021/06/essentials-elements-of-a-homepage_-logo.jpg.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is Home.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</template>